#전체목록, 그룹X, 시간순, 깃상태, 디렉토리우선리스
alias ll='colorls -lGt --gs --sd'
alias ls='colorls'

alias cdsource='cd $HOME/task/sources'
alias cdtask='cd "$HOME/Library/Mobile Documents/com~apple~CloudDocs/task"'

# should access after connect vpn 
alias okestrovpn='ssh root@100.0.0.176'
